body{
    font-family: 'Merriweather', serif;
}
.banner-title{
    color:#FFFFFF ;
font-size: 32px;
font-weight: 400;
padding-top: 170px ;
}
.banner-title-2{
    color: #FFF;
font-size: 72px;
font-weight: 900;
width: 632px;
padding: 0px 340px 150px 320px ;
margin-top: 10px;
}
.banner{
    background-image: url('../resources/Banner\ Image.png');
    width: 1270px;
height: 600px;
text-align: center;
border-radius: 16px;
}
