body{
    font-family: 'Merriweather', serif;
}
.banner-title{
    color: #FFF;
font-size: 32px;
font-weight: 400;
padding-top: 170px ;
}
.banner-title-2{
    color: #FFF; 
font-size: 72px;
font-weight: 900;
width: 632px;
padding: 0px 340px 150px 320px ;
margin-top: 10px;
}
.banner{
    background-image:linear-gradient(180deg,  #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../resources/Banner\ Image.png');
    width: 1250px;
    border-radius: 16px;
    border-radius: 16px;
height: 600px;
text-align: center;
border-radius: 16px;
margin-top: 50px;
margin-left: 20px;
}




main body

 .section-container ,h1,p ,h3{
    text-align: center;
font-family: Inter;
 }
.section-dicount{
    color: #F00;
font-size: 70px;
font-weight: 700;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 100px;
margin-bottom: 30px;
width: 383px;
}
.section-discont-title{
    color: #F00;
font-size: 20px;
font-weight: 500;

}
.section-dicount-type{
    color: #070211;
font-size: 40px;
font-weight: 700px;
line-height: 0px;
}
.new-year-photo{
    display: block;
    width: 700px;
height: 450px;
padding-top: 40px;
margin-left: auto;
margin-right: auto;
}


.welcome{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png');
    height: 600px;
    border-radius: 16px;
   display: flex;
   margin-top: 120px;
   margin-left: 20px;
}
.section-title{
    color: #FFF;
font-size: 64px;
letter-spacing: 6px;
padding-top: 126px;
width: 600px;
margin-bottom: 24px;
}
.section-description{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;

}
.btn{
    color: #FFF;
   background-color: black;
    font-size: 20px;
font-weight: 700;
text-transform: uppercase;
border: 0px;
display: block;
margin-top: 40px;
margin-left: 50px;
}
.section-description , .btn {
    font-family: Inter;
}
.year{   
width: 300px;
height: 460px;
padding: 68px 130px 67px 30px;
}
.section-content{
  padding: 20px 0px 142px 126px ;  
}



.places{
    color: #F00;
font-size: 25px;
font-weight: 600;
display: inline-block;
}
.section-type{
    color: #070211;
font-size: 25px;
line-height: 56px;
display:;
}
.btn-praimary{
padding: 16px 30px;
border-radius: 8px;
background: #F00;
color: #FFF;
border: 0px;
display: block;
margin: auto;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
margin-top: 40px;
}
.section-subject{
    font-family: Inter; 
   background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 200px;
    margin-top: 145px;
    padding:250px 400px  ;
    margin-left: 20px;
}



.gift-title{
    color: #F00;
font-size: 20px;
margin-top: 100px;
margin-bottom: 10px;
}
.gift-portfolio{
    color: #070211;
font-size: 42px;
text-transform: capitalize;
margin-bottom: 18px;
}

.gift-title ,
.gift-description {
    font-family: Inter;  
}

.gift-description{
color:gainsboro;
font-size: 18px;
line-height: 10px;
}
.gift-section{
    margin-left: 20px;  
}

.image , .images {
    width: 392px;
height: 400px;
margin-top: 45px;
border-radius: 10px;
}
.images , .img-folder{ 
    margin-left: 20px;  
}

.image-folder , .img-folder{
    width: 392px;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
  

.icon{
    width: 140px;
height: 140px;
padding-top: 80px;
display: block;
margin-left: auto;
margin-right: auto;
}

.subscribe-title{
    color: #070211;
text-align: center;
font-size: 42px;
text-transform: capitalize;
margin-top: 40px;
margin-bottom: 20px;
}

.subscribe-description{
    color: rgba(7, 2, 17, 0.60);
font-size: 19px;
line-height: 28px; 
width: 896px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 45px;
}

.subscribe{
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 20px;
    margin-top: 100px;
}

.email , .subscribe-btn {
    background: #FFF; 
height: 50px;
border: 0px;
padding: 0px;
}
.subscribe-btn{
    border-radius: 0px 50px 50px 0px;
width: 230px;
height: 50px;
background-color: #F00;
 margin-left: 0px;
}
.email{
 margin-left: 350px;
 width: 300px;
 border-radius: 50px 0px 0px 50px;
}

footer{
    margin-top: 100px;
}

.footer-section{
    background-color: black;
    height: 550px;
}


.footer-container{
 color: #FFF;
 padding-top: 100px;
 padding-left: 120px;
 display: flex;
 margin-bottom: 50px;
}

.addresss-num{
    padding-left: 400px;
}

.call-img{
    width: 20px;
height: 20px;
display: inline-flex;

}

.icon-img{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.icon-images{
    padding-left: 24px;
}


.footer-end{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 50px;
display: flex;
padding-left: 120px;
}

